include LICENSE
include README.rst
include MANIFEST.in
include etc/g-octave.cfg
include share/g-octave.eclass
include g-octave.1
include g-octave.html
include scripts/*
include contrib/*
recursive-include docs *
recursive-include tests *
prune docs/_build/
include docs/_build/.keep
exclude tests/*.pyc
exclude contrib/*.pyc
