[main]

# Configuration file of g-octave
#
# All these options are defaults. Only uncomment and change what you want.
# If the default it's ok for you, leave all the options as comments.
#
# ALERT: g-octave only supports emerge/portage from now

#db = /var/cache/octave-forge
#overlay = /usr/local/portage/g-octave
#categories = main,extra,language
#db_mirror = http://files.rafaelmartins.eng.br/octave-forge
